<ng-container>
  <div class="w-100 vh-100 d-flex flex-column align-items-center justify-content-center">
    <a class="avatar">
      <img src="/avatar.png" alt="avatar" />
      <h1>Cláudio Bessa</h1>
    </a>
    @for (link of links; track link.caption) {
      <button type="button">
        <a [id]="link.caption" [href]="link.url" target="_blank" rel="noopener">
          <img src="{{ link.icon }}" width="{{ link.width }}" alt="{{ link.caption }}" />
          <span>{{ link.caption }}</span>
        </a>
      </button>
    }
  </div>
</ng-container>