<ng-container>
  <div class="container">
    <h1 class="mb-4">Calculate after taxes salary 2025</h1>
    <input 
      type="number"
      class="w-50"
      [ngClass]="{ 'mb-4': $beforeTaxesSalary() >= irsTable(0)[0][0] || $beforeTaxesSalary() === 0}"
      placeholder="Insert your salary (€)"
      [min]="irsTable(0)[0][0]"
      [ngModel]="$beforeTaxesSalary() === 0 ? undefined : $beforeTaxesSalary() " 
      (ngModelChange)="updateBeforeTaxesSalary($event)" />

    @if($beforeTaxesSalary() < irsTable(0)[0][0] && $beforeTaxesSalary() !== 0){
      <span class="text-danger mb-4 text-align-start w-50">Before taxes salary is a minimum of {{irsTable(0)[0][0]}}€</span>
    }

    <ng-select
      class="ng-select-hide-values ng-select-options-sm w-50 mb-2"
      placeholder="Select IRS Jovem year"
      [hideSelected]="true"
      [items]="irsJovem"
      [searchable]="false"
      [clearable]="false"
      [ngModel]="$irsJovemYear()"
      (ngModelChange)="selectIRSYear($event)">
      <ng-template ng-label-tmp ng-option-tmp let-item="item">
        <span>{{ item }} Year</span>
      </ng-template>
    </ng-select>
    <span class="w-50 mb-4">If no year selected it will be calculated without it!</span>

    <button 
      type="button"
      class="w-50"
      (click)="this.$irsJovemYear() ? calculateIRSJovem() : calculateIRS()"
    >
     CALCULATE
    </button>

    @if(!!$ssTaxes() && $irsTaxes() !== undefined) {
      <div class="d-flex w-50 mt-4 flex-column">
        <span>Salary before taxes: {{ $beforeTaxesSalary() }}€</span>
        <span>IRS Taxes: {{ $irsTaxes() }}€</span>
        <span>SS Taxes: {{ $ssTaxes() }}€</span>
        <span>Salary after taxes: {{ $afterTaxesSalary() }}€</span>
      </div>
    }
  </div>
</ng-container>